/Innovation Phase/oo attempt/simulation
/Innovation Phase/oo attempt/output_files
/Innovation Phase/oo attempt/db
/Innovation Phase/oo attempt/greybox_tmp
/Innovation Phase/oo attempt/incremental_db